@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row parallax_adminBody">
    <div class="col-3" style=" margin: 12rem 0 29rem 0; ">

        <div class="justify-content-center">
            <section class="col-10">
                <h1 class="text-left">@ViewData["Title"]</h1>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true"/>
                        <label  class="text-white" asp-for="Input.Username"></label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true"/>
                        <label class="text-white" asp-for="Input.Name"></label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                        <label class="text-white" asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                        <label class="text-white" asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                        <label class="text-white" asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </section>


        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}