@model  BikingBuddy.Data.Models.EventTrack

 
<div class="row">
    <div class="col-10">

        <p>File Name: <span class="font-italic">@Model.FileName</span> </p>
        <div class="mb-3" id="map"></div>
        <p style="display:none ;" id="gpxGpx">@Model.GPXContent </p>
        <div class="elevationProfileContainer">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    
    <div class="col-2">
        <h6>Details: </h6> 
        <p>-Distance: <span id="dist"></span>km</p>
        <p>-Ascent: <span id="pos"></span>m</p> 
        <p>-Min Elevation: <span id="min"></span>m</p>
        <p>-Max Elevation: <span id="max"></span>m</p>
    </div>
</div>