@{
    ViewData["Title"] = "Error";
}

<div class="row parallax_adminBody">
    
                <div class="m-12 danger-error-ek text-center" >
                    <h1 >Access Denied!</h1>
                    <p>Oops, you don't have access here.</p>
                 <div class="text-center h4 mt-5"> Go back to <a asp-controller="Home" asp-action="Index" class="text-white-50">Home</a> Page</div>
                </div>
                    
</div>