@{
    ViewData["Title"] = "Error";
}



<div class="row parallax_adminBody">
    
                <div class="m-12 danger-error-ek text-center" >
                    <h1 >Not found!  </h1>
                    <h1 >Error 404!  </h1>
                    <p>Oops, better check that URL. Page was not found.</p>
                 <div class="text-center h4 mt-5"> Go back to <a asp-controller="Home" asp-action="Index" class="text-white-50">Home</a> Page</div>
                </div>
                    
</div>