<!-- training -->
<div class="training">
	<div class="w3l-training-grids">
		<div class="container">
			<div class="w3-training-heading">
				<h3>Training information</h3>
			</div>
			<div class="w3ls-training-grids">
				<div class="col-md-8 agileits-training-left">
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo ullamcorper aliquet. Proin est orci, suscipit aliquet cursus ut, iaculis a metus.</h4>
					<p>Aliquam dictum dui vitae leo dignissim volutpat. Etiam ultrices eget ex ut malesuada. Donec imperdiet sem quis neque dignissim, et congue felis ullamcorper. Donec vel accumsan odio. Quisque ut tortor aliquet est rutrum laoreet. Nullam sit amet lectus et leo efficitur auctor vitae sit amet metus. Aliquam pharetra gravida placerat. Sed mollis tortor tincidunt elit cursus convallis. Mauris in lacinia lectus. Duis vehicula varius quam, et rutrum turpis semper quis. Nullam rhoncus enim dui, at condimentum lectus commodo eu. </p>
					<a href="single.html">Read More</a>
				</div>
				<div class="col-md-4 agileits-training-right">
					<img src="images/tr1.jpg" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="w3layouts-training-top">
		<div class="container">
			<div class="w3-training-heading schedule-heading">
				<h3>Schedule</h3>
			</div>
			<table id="table-breakpoint">
				<thead>
					<tr>
						<th>Time</th>
						<th>John Watson</th>
						<th>Steve Smith</th>
						<th>David Miller</th>
						<th>shane warne</th>
						<th>Martin Guptill</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>07 - 08 AM</td>
						<td>MON - SUN</td>
						<td></td>
						<td>SAT - MON</td>
						<td>SAT</td>
						<td></td>
					</tr>
					<tr>
						<td>09 - 10 AM</td>
						<td></td>
						<td>TUE - WED</td>
						<td>WED - THU</td>
						<td>FRI - SAT</td>
						<td>SUN</td>
					</tr>
					<tr>
						<td>11 - 12 AM</td>
						<td>WED - THU</td>
						<td>MON - SUN</td>
						<td>FRI - SAT</td>
						<td>THU - FRI</td>
						<td></td>
					</tr>
					<tr>
						<td>02 - 03 PM</td>
						<td>MON - TUE</td>
						<td>WED - THU</td>
						<td></td>
						<td></td>
						<td>FRI - SAT</td>
					</tr>
					<tr>
						<td>04 - 05 PM</td>
						<td>TUE - WED</td>
						<td>WED - FRI</td>
						<td></td>
						<td>SAT - SUN</td>
						<td>FRI - SAT</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="agileinfo-training-bottom">
		<div class="container">
			<div class="w3-training-heading">
				<h3>Membership</h3>
			</div>
			<div class="wthree-training-bottom-grids">
				<div class="col-md-4 wthree-training-bottom">
					<h4>Donec a vulputate ipsum, eu efficitur odio. Aliquam sit amet sagittis ex.</h4>
					<p>Nullam quis tempor urna. Aliquam ultricies, diam vel vestibulum pellentesque, risus magna euismod magna, vel ultricies arcu tellus blandit lectus. Etiam ut sagittis diam. Quisque bibendum venenatis dictum. Maecenas rutrum nisl nec nunc gravida, vel mattis sapien commodo.</p>
					<ul>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Nullam tristique faucibus pharetra.</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Ut ultricies, dui a tincidunt placerat</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Pellentesque auctor</a></li>
					</ul>
				</div>
				<div class="col-md-4 wthree-training-bottom">
					<ul>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Nullam tristique faucibus pharetra.</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Ut ultricies, dui a tincidunt placerat</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Pellentesque auctor</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Nullam tristique faucibus pharetra.</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Ut ultricies, dui a tincidunt placerat</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Pellentesque auctor</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Nullam tristique faucibus pharetra.</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Ut ultricies, dui a tincidunt placerat</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i> <a href="single.html">Pellentesque auctor</a></li>
					</ul>
				</div>
				<div class="col-md-4 wthree-training-bottom">
					<img src="images/tr2.jpg" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //training -->
