<section class="allEvents-banner py-5  row" id="features">
    <div class="col-lg-6 pr-lg-6 mb-lg-0 mb-6">
        <div class="w3l-header-sec text-left mb-md-5 mb-4" style="margin-left: 160px;">
            <h6 class="title-subhny mb-2">Upcoming events</h6>
            <h5 class="" style="margin-top: 25px" >Find your journey here</h5>
        </div>
    </div>
    <div class="col-lg-6 pr-lg-6 mb-lg-0 mb-6 ">
        <div class="w3l-header-sec text-left mb-md-5 mb-4" style="margin-left: 160px;">
            <h6 class="title-subhny mb-2" style=" margin-bottom: 10px;">Have something on your mind</h6>

            <div>
                <a class="btn btn-primary btn-white btn-style mt-lg-1 mt-4" style=" margin-left: 195px; padding: 10px 20px;" asp-action="Add"> Add new event! </a>
            </div>
        </div>
    </div>
</section>