@model ICollection<UserViewModel>
<h5>Team Members:</h5>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
        <th> Photo</th>
        <th> Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var member in Model)
    {
        <tr>
            <td>
                <img src=@member.ProfileImageUrl
                     alt=""
                     style="width: 45px; height: 45px"
                     class="rounded-circle"/>

            </td>
            <td>
                <p class="fw-bold mb-1">@member.Name</p>

            </td>


            <td>
                <a asp-controller="User" asp-action="Details" asp-route-userId="@member.Id" class="btn btn-warning btn-rounded">View Details</a>
                <a asp-controller="Team" asp-action="RemoveMember" asp-route-userId="@member.Id" class="btn btn-info btn-rounded">Remove Member</a>
            </td>
        </tr>
    }

    </tbody>
</table>
