<section class="allTeam-banner py-5  row" id="features">
    <div class="col-lg-6 pr-lg-6 mb-lg-0 mb-6">
        <div class="w3l-header-sec text-left mb-md-5 mb-4" style="margin-left: 50px;">
            <h6 class="title-subhny mb-2">Don't ride alone</h6>
            <h5 class="">Find your team <span style="margin-left: 95px;display: block;">and be part of family</span> </h5>
        </div>
    </div>
    
    
    <div class="col-lg-6 pr-lg-6 mb-lg-0 mb-6 ">
        <div class="w3l-header-sec text-left mb-md-5 mb-4" style="margin-right: 50px; text-align-last: right;">
            <h6 class="title-subhny mb-2">Or be manager of your own team</h6>

            <div style="padding-top: 23px">
                <a class="btn btn-primary btn-white btn-style mt-lg-1 mt-4" asp-action="Add"> Add your team here! </a>
            </div>
        </div>
    </div>
</section>